.checks {
    margin-left: 20%;
}

.checks p {
    margin: 15px 0px;
}

.checks ul {
    margin-left: 15px;
}

.checks ul li {
    margin: 2px 0px;
    transition: color .5s ease;
}

.roundCorner {
    padding-top: 35px;
}