<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/404.css') }}">
    <title>CocktailLib | 404</title>
</head>
    <body>

        <div class="main">
            <h1 class="header">Page introuvable...</h1>
            <button onclick="goBackHome()">Revenir à l'accueil</button>
        </div>

        <div class="footer">
            Maxew &copy; 2023
        </div>
        
    </body>

    <script>
        function goBackHome() {
            window.location.href = "{{ url_for('home') }}"
        }
    </script>
</html>