{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
  <title>CocktailLib | Register</title>
{% endblock %}

{% block main %}
  <!-- Header (title) -->
  <h1 class="header">Register</h1>

  <div class="roundCorner darkBackground">
    
    <!-- Login form -->
    <form method="post">
        <!-- Username field -->
        <div>
            <label for="name">Username</label>
            <input type="text" name="name" required>
        </div>

        <!-- Checks for the username (more in the js/usernameCheck.js file) -->
        <div class="checks">
          <p>Your username must:</p>
          <ul>
              <li class="username-length">Be between 3 and 21 characters long</li>
              <li class="no-special-char">Not contain special characters</li>
          </ul>
      </div>

        <!-- Mail field -->
        <div>
            <label for="mail">Mail</label>
            <input type="email" name="mail" required>
        </div>

        <!-- Password field -->
        <div>
            <label for="name">Password</label>
            <input type="password" name="password" oninput="checkPassword()" required>
        </div>

        <!-- Checks for the password (more in the js/passwordCheck.js file) -->
        <div class="checks">
            <p>Your password must:</p>
            <ul>
                <li class="has-uppercase">Contain 1 uppercase</li>
                <li class="has-lowercase">Contain 1 lowercase</li>
                <li class="has-number">Contain 1 number</li>
                <li class="has-special-char">Contain 1 special character</li>
                <li class="password-length">Be 8 characters long</li>
            </ul>
        </div>

        <!-- Password repeat -->
        <div>
            <label for="password-repeat">Password (repeat)</label>
            <input type="password" name="password-repeat" oninput="checkPassword()" required>
        </div>

        <!-- Second password check (more in the js/passwordCheck.js file) -->
        <div class="checks">
            <ul>
                <li class="match">Both passwords must match</li>
            </ul>
        </div>

        <!-- Submit button -->
        <input type="submit" name="submit" class="disabled" disabled>
    </form>
  </div>
{% endblock %}

{% block main2 %}
  <!-- Button to go back to the home page -->
  <a href="{{ url_for('home') }}">
    <button class="special">
        Retour à l'accueil
    </button>
  </a>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename = 'js/passwordCheck.js') }}"></script>
{% endblock %}